<template>
  <div class="w-full bg-indigo-400 h-screen overflow-hidden">
    <div class="justify-center container mx-auto mt-40">
      <h1 class="text-5xl w-full text-center mb-8 text-white">Slot Machine Game Example</h1>
      <div class="columns-3">
        <div class="rounded-lg bg-white flex flex-col w-full align-center justify-space-between bg-white text-center text-red-500 overflow-hidden max-h-96 p-5">
          <img :src="randomSymbol.icon || '/assets/icons/question-mark.svg'" alt="" class="h-32" :class="animate ? 'animate-bounce' : ''">
        </div>
        <div class="rounded-lg bg-white flex flex-col w-full align-center justify-space-between bg-white text-center text-red-500 overflow-hidden max-h-96 p-5">
          <img :src="randomSymbol1.icon || '/assets/icons/question-mark.svg'" alt="" class="h-32" :class="animate1 ? 'animate-bounce' : ''">
        </div>
        <div class="rounded-lg bg-white flex flex-col w-full align-center justify-space-between bg-white text-center text-red-500 overflow-hidden max-h-96 p-5">
          <img :src="randomSymbol2.icon || '/assets/icons/question-mark.svg'" alt="" class="h-32" :class="animate2 ? 'animate-bounce' : ''">
        </div>
      </div>
      <div class="w-full p-3 flex align-center justify-center gap-8">
        <div class="flex gap-2 flex-col align-center justify-center">
          <label for="reward">slot reward</label>
          <input type="text" id="reward" readonly v-model="reward" class="w-16 p-3 text-sm bg-white rounded-lg text-dark text-center d-flex mx-auto">
        </div>
        <div class="flex gap-2 flex-col align-center justify-center">
          <label for="total-reward">your total reward</label>
          <input type="text" readonly id="total-reward" v-model="totalReward" class="w-16 p-3 text-sm bg-white rounded-lg text-dark text-center d-flex mx-auto">
        </div>
      </div>
      <button class="bg-white px-5 py-3 mt-3 rounded-lg flex mx-auto align-center justify-center hover:bg-red-300" @click="spin" :disabled="response" type="button">Roll</button>
      <button v-if="cashOut" class="bg-white px-10 py-5 mt-3 rounded-lg flex mx-auto align-center justify-center hover:bg-red-300" @click="resetGame">Cash Out {{ totalReward }}</button>
      <h1 class="text-5xl w-full text-center mt-8 text-red-300" v-if="success">You win <br> <br> If you want to play then push the Roll button  or you cash out your reward.</h1>
    </div>
  </div>
</template>

<script>
  export default {
      data(){
          return{
            randomSymbol:{},
            randomSymbol1:{},
            randomSymbol2:{},
            success: null,
            cashOut: null,
            reward: null,
            totalReward: 10,
            animate: false,
            animate1: false,
            animate2: false,
            response: false,
            symbols:[
                    {
                        name:'cherry',
                        reward:'10',
                        value:0,
                        icon:'/assets/icons/cherry.svg'
                    },
                    {
                        name:'lemon',
                        reward:'20',
                        value: 1,
                        icon:'/assets/icons/lemon.svg'
                    },
                    {
                        name:'orange',
                        reward:'30',
                        value: 2,
                        icon:'/assets/icons/orange.svg'
                    },
                    {
                        name:'watermelon',
                        reward:'40',
                        value:3,
                        icon:'/assets/icons/watermelon.svg'
                    },
                ],
          }
      },
      methods:{
        spin () {
            this.animate = true
            this.animate1 = true
            this.animate2 = true
            this.response = true
            const random = Math.floor(Math.random() * this.symbols.length);
            const random1 = Math.floor(Math.random() * this.symbols.length);
            const random2 = Math.floor(Math.random() * this.symbols.length);
            setTimeout(() => {
                this.randomSymbol = this.symbols[random]
                this.animate = false
            }, 1000);
            setTimeout(() => {
                this.randomSymbol1 = this.symbols[random1]
                this.animate1 = false
            }, 2000);
            setTimeout(() => {
                this.randomSymbol2 = this.symbols[random2]
                this.animate2 = false
            }, 3000);
            if ((this.randomSymbol === this.randomSymbol1) && (this.randomSymbol1 === this.randomSymbol2)) {
              if (this.totalReward <= 40) {
                for (let i = 0; i < this.symbols.length; i++) {
                            const el = this.symbols[i];
                            if (el === this.randomSymbol) {
                            this.totalReward += parseInt(el.reward)
                            this.reward = el.reward
                                }
                            }
                        }
                    else{
                    this.success = true
                    this.cashOut = true
                    for (let i = 0; i < this.symbols.length; i++) {
                        const el = this.symbols[i];
                        if (el === this.randomSymbol) {
                        this.totalReward += parseInt(el.reward)
                        this.reward = el.reward
                            }
                        }
                    }
                }
                this.randomSymbol = {}
                this.randomSymbol1 = {}
                this.randomSymbol2 = {}
                this.response = false
            },
            resetGame(){
                this.randomSymbol = {}
                this.randomSymbol1 = {}
                this.randomSymbol2 = {}
                this.totalReward = 10
                this.reward = null,
                this.success = false,
                this.cashOut = false
            }
      },
  }
</script>