<template>
  <div id="app" class="main">
    <SlotMachine />
  </div>
</template>

<script>
import SlotMachine from '@/components/MachineSlot.vue'

export default {
  name: 'App',
  components: {
    SlotMachine
  }
}
</script>

<style>
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
